html {
  margin: 0;
  padding: 0;

  font-size: medium;
  font-style: normal;
  font-family: "Inter", sans-serif;

  border: none;

}



body {
  background-color: #121212;
  font-family: "Inter", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
