html {
  margin: 0;
  padding: 0;

  font-size: medium;
  font-style: normal;
  font-family: "Inter", sans-serif;

  border: none;
}

body {
  background-color: #121212;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.loading-container {
  text-align: center;
  margin-top: 20px;
}

.loading-dots {
  display: inline-block;
  animation: loading 1.5s infinite;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0;
  animation: dot-fade 1.5s infinite;
}

@keyframes loading {
  0%,
  20% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  80%,
  100% {
    transform: translateY(0);
  }
}

@keyframes dot-fade {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}
